.live-chat-wrapper.artist-live-video {
    background: #131313;
}

.live-data-wrapper {
    display: flex;
    align-items: center;
    color: #fff;
}

.artist-live-image {
    height: auto;
    text-align: center;
    max-width: unset;
    overflow: visible;
    display: grid;
}

.artist-live-image img {
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    object-fit: cover;
    width: 50px;
    border-radius: 50px;
    margin: auto;
}

.message-live {
    padding-left: 20px;
}

.live-artist-data {
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: #fff;
}

.live-data-content {
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid;
}

.admin-message {
    flex-direction: row-reverse;
}

.admin-message .live-data-wrapper {
    flex-direction: row-reverse;
}

.admin-message .live-data-wrapper .message-live {
    padding-right: 20px;
    text-align: right;
}

.live-chat-wrapper form input {
    width: 100%;
    background: #131313;
    border-color: #212529;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-right: 15px;
    border: 1px solid #ffffff24;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0px 0px;
    background:#ffe050;
    box-shadow: 0px 0px;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color:#ffe050;
    border-color:#ffe050;
}

.live-chat-wrapper form .form-group {
    width: 100%;
    margin: 0px;
    display: contents;
}

.btn-success:hover {
    background:#ffe050;
}

.btn-success {
    background:#ffe050;
    border: transparent;
}

.live-chat-wrapper input:focus {
    outline: 0px !important;
    box-shadow: 0px 0px;
}

.live-chat-wrapper form {
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #212529;
}

.chat-wrapper-live {
    height: 700px;
    overflow-y: scroll;
}

.chat-wrapper-live::-webkit-scrollbar {
    width: 11px;
}

.chat-wrapper-live {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.chat-wrapper-live::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.chat-wrapper-live::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.live-chat-wrapper.artist-live-video {
    max-width: 720px;
    overflow: hidden;
    margin: auto;
}
.chat-wrapper .btn-group button {
    padding: 10px 30px;
    border-radius: 5px;
    min-height: 47px;
    color: #fff;
    background:#ffe050;
    cursor: pointer;
}
body.White-back {
    background:#ffe050;
}
.live-data-content:last-child {
    margin-bottom: 78px;
}