<template>
  <div id="app">
    
  <div class="home">
        <div class="chat-wrapper">
    <div class="live-chat-wrapper artist-live-video">
        <div class="chat-wrapper-live" id="allChat-div">
            <div class="live-data-content" v-bind:class="[item.type == 'user' ? 'user-message' : 'admin-message']" v-for="item in allChats" :key="item.key" >
                <div class="live-data-wrapper">
                    <div class="artist-live-image">
                        <img :src="item.commentImageURL" name="image">
                        <span class="user-name">{{item.commentByName}}</span>
                    </div>
                    <div class="message-live">
                        <span class="live-data live-message">{{item.comment}}</span>
                    </div>
                </div>

                <div class="live-artist-data">
                    <span class="live-data live-name">{{item.time}}</span>
                    <!-- <span class="live-data live-name">{{item.commentByName}} : -->
                    <!-- <span class="live-data live-message">{{item.comment}}</span></span> -->
                </div>
            </div>
        </div>
        <!-- form -->
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Start Conversation..." id="item" v-model="itemValue"  name="item" required>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success" @click="sendMessage()">Submit</button>
            </div>
        </form>

    </div>
</div>
    </div>
  </div>
</template>

<script>
import ChatService from "./services/firebaseService.js";
  export default {
    name: "App",
    data() {
            return {
                itemValue: '',
                currentTime: '',
                allChats: [],
                image: 'https://djjumoflowapp.com/djjumoflowapp/assets/img/logo.png',
            }
        },
        methods: {
            sendMessage() {
                if(this.itemValue != '') {
                var today = new Date();
                // var today = new Date(date.toLocaleString('en-US', {}));
                var options = {
                hour: '2-digit', minute: '2-digit', timeZone: 'America/Toronto'
                };
                var timeOptions = {
                hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true, timeZone: 'America/Toronto'
                };
                var cuurentDate = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                var cuurentTime = today.toLocaleTimeString('en-us', timeOptions);
                // if(cuurentTime.contains(' AM') == true) {

                // }
                cuurentTime = cuurentTime.replace(' AM', '');
                cuurentTime = cuurentTime.replace(' PM', '');
                const dateTime = cuurentDate + ' ' + cuurentTime;
                this.currentTime = today.toLocaleTimeString('en-us', options);
                var data = {
                    comment: this.itemValue,
                    commentByName: "Dj Jumo Flow",
                    commentDate: dateTime,
                    commentImageURL: this.image,
                    time: this.currentTime,
                    type: 'admin'
                };
                // console.log(data);
                ChatService.sendChat(data).then(() => {
                    this.itemValue = '';
                });
                    
                }
            },
            onDataChange(items) {
                let _allChats = [];
                items.forEach((item) => {
                    let key = item.key;
                    let data = item.val();
                    _allChats.push({
                        key: key,
                        comment: data.comment,
                        commentByName: data.commentByName,
                        commentDate: data.commentDate,
                        commentImageURL: data.commentImageURL,
                        time: data.time,
                        type: data.type
                    });
                });
                this.allChats = _allChats;
                setTimeout(() => {
                    var objDiv = document.getElementById('allChat-div');
                    objDiv.scrollTop = objDiv.scrollHeight
                }, 0)
            }
        },
        mounted() {
            ChatService.getAllChats().on("value", this.onDataChange);
        },
        beforeDestroy() {
            ChatService.getAllChats().off("value", this.onDataChange);
        }
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
